@{
    ViewData["Title"] = "";
}
@{
    //this is where the tab says the title of webpage
}
<style>
    .display-4 {
        padding: 250px 10px 10px 10px; 
        font-size: 90px;
    }
    .display-1 {
        padding: 10px 0 0 0;
        font-size: 20px;
    }
    
</style>
<body>
    <div class="text-center">
        <h1 class="display-4" style="color:white;">Top Apps On The Play Store</h1>
        
        

            <MARQUEE BEHAVIOR alternate>This is an API with the top ranking apps on the appstore.</MARQUEE>
            <h2 class="display-1" style="color:white;">My Github is:  https://github.com/BellaO-IO</h2>
</div>
</body>

@{
    //^^^^ is the front page
}